<div class="business" >
  <div class="business-box" (click)="checkDetails()">
    <div class="business-picture">
      <img *ngIf="!business?.thumbnail" src="assets/img/business.jpg" alt="">
      <img *ngIf="business?.thumbnail" [src]="business.thumbnail" alt="">
    </div>
    <app-rating [rating]="business.level" [static]="true"></app-rating>
    <div class="business-data">
      <h2 class="business-title">
        {{business?.title || 'Testing Title'}}
      </h2>
      <p class="business-description">
        {{business?.about || 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quibusdam, impedit quaerat ea
        nihil laborum quas magnam maxime maiores aliquam ducimus quidem enim atque culpa. Aut recusandae quam voluptate et.'}}
      </p>
    </div>
  </div>
  <div *ngIf="isReviewsLoaded && loadReview">
    <div *ngFor="let review of reviews">

      <app-review  [review]="review"></app-review>
    </div>
  </div>
  <a  class="review-btn" (click)="toggleReview()" *ngIf="getReviews">
      <i *ngIf="btn_value" class="fa fa-arrow-down"></i>
      <i *ngIf="!btn_value" class="fa fa-arrow-up"></i>
  </a>
</div>
