<main class="business-page">
	<div class="business-page-picture">
		<img src="assets/img/coffeeshop.jpg" alt="">
	</div>
	<div class="business-page-details">
		<ul class="business-page-data">
			<li>Name</li>
			<li>Type </li>
			<li>Address</li>
			<li>Number</li>
		</ul>
		<p class="business-page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				
		</p>
		<div class="business-page-actions">
			<a  class="business-page-btn--main" (click)="onSubscribe()">Subscribe</a>
			<a  class="business-page-btn--second" (click)="onReport()">Report</a>
		</div>
	</div>
	<div class="business-page-map">
		<img src="assets/img/business-map.png" alt="">
	</div>
</main>