<main class="business-page">
	<div class="business-page-picture">
		<img *ngIf="this.business && this.business.thumbnail" [src]="this.business?.thumbnail" alt="">
	</div>
	<div class="business-page-details">
		<ul class="business-page-data">
			<li *ngIf="this.business">Title: {{this.business?.title}}</li>
			<li *ngIf="this.category">Category: {{this.category?.name}} </li>
			<li *ngIf="this.location">Country: {{this.location?.country}}</li>
			<li *ngIf="this.location">State: {{this.location?.state}}</li>
			<li *ngIf="this.location">Locality: {{this.location?.locality}}</li>
			<li *ngIf="this.location">Street Number: {{this.location?.number}}</li>
			<li *ngIf="this.location">Postal Code: {{this.location?.postal_code}}</li>
			<li *ngIf="this.business">Phone Number: {{this.business?.number}}</li>
		</ul>
		<p  *ngIf="this.business" class="business-page-description">
			About Us: {{this.business?.about}}				
		</p>
		<div class="business-page-actions">
			<a *ngIf="!isSubscribed" class="business-page-btn--main" (click)="onSubscribe()">Subscribe</a>
			<a *ngIf="isSubscribed" class="business-page-btn--main" (click)="onUnsubscribe()">Unsubscribe</a>
			<a class="business-page-btn--second" (click)="onReport()">Report</a>
		</div>
	</div>
	<div class="business-page-map">
		<img src="assets/img/business-map.png" alt="">
	</div>
</main>