<div class="subscription">
	<div class="subscription-image">
		<img src="assets/img/business.jpg" alt="">
	</div>
	<ul class="subscription-data">
		<li>Business Name</li>
		<li>Address</li>
		<li>Phone</li>
		<li>Email</li>

	</ul>
	<div class="subscription-box">
		<div class="review-feedback">
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9734;</span>
			<span class="review-star">&#9734;</span>
		</div>
		<div class="subscription-actions">


			<a href="" class="search-btn">Details</a>
			<a href="" class="search-btn search-btn-small search-btn--danger">X</a>

		</div>
	</div>
</div>