<div *ngIf="this.location" class="subscription">
	<div class="subscription-image">
		<img *ngIf="this.business.thumbnail" [src]="this.business.thumbnail" alt="">
	</div>
	<ul class="subscription-data">
		<li>{{this.business.title}}</li>
		<li *ngIf="this.location.number">
			{{this.location.country}}, 
			{{this.location.state}}, 
			{{this.location.locality}}, 
			{{this.location.number}}, 
			{{this.location.postal_code}}
		</li>
		<li *ngIf="!this.location.number">
			{{this.location.country}}, 
			{{this.location.state}}, 
			{{this.location.locality}},
			{{this.location.postal_code}}
		</li>
		<li>{{this.business.number}}</li>
		<li>{{this.business.email}}</li>

	</ul>
	<div class="subscription-box">
		<div class="review-feedback">
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9733;</span>
			<span class="review-star">&#9734;</span>
			<span class="review-star">&#9734;</span>
		</div>
		<div class="subscription-actions">


			<a (click)="onDetails()" class="search-btn">Details</a>
			<a (click)="onUnsubscribe()" class="search-btn search-btn-small search-btn--danger">X</a>

		</div>
	</div>
</div>