/*
<=	600 px : phone
<=	900 px : table protrait
<=	1200 px :  tablet landscape
<=	1800 px : Our normal style
>=	1800px : big desktop

*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em == 16 px

*/

@font-face {
  font-family: "AktivGrotesk";
  src: url("assets/font/AktivGrotesk-Medium.eot");
  src: url("assets/font/AktivGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/font/AktivGrotesk-Medium.svg#AktivGrotesk-Medium") format("svg"),
    url("assets/font/AktivGrotesk-Medium.ttf") format("truetype"),
    url("assets/font/AktivGrotesk-Medium.woff") format("woff"),
    url("assets/font/AktivGrotesk-Medium.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: rgb(235, 235, 235) !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(235, 235, 235) !important;
}

::placeholder {
  color: rgb(235, 235, 235) !important;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #5be89b;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #5be89b;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-family: "AktivGrotesk", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
		animation-iteration-count: 3;
		animation-delay: 3s;
		*/
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #5be89b, #5be89b);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  transform: skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-top {
  margin-top: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.center {
  margin: 0 auto;
}

.header {
  min-height: 85vh;
  background-image: linear-gradient(
    to top,
    rgba(91, 232, 155, 0.6),
    rgba(45, 58, 113, 0.6)
  );
  position: relative;
  /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
		-webkit-clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%);
		clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%);
		height: 95vh;
	} */
}

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  (min-width: 125em) {
  .header {
    background-image: linear-gradient(
        to top,
        rgba(91, 232, 155, 0.8),
        rgba(45, 58, 113, 0.8)
      ),
      url(assets/img/background.jpg);
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.header__logo {
  height: 3rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(6rem + 2 * ((100% - 2 * 6rem) / 3));
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}

.row .col-2-of-5 {
  width: calc((2 * (100% - 4 * 6rem) / 5) + 6rem);
}

.row .col-3-of-5 {
  width: calc((3 * (100% - 4 * 6rem) / 5) + 2 * 6rem);
}

.row .col-4-of-5 {
  width: calc((4 * (100% - 4 * 6rem) / 5) + 3 * 6rem);
}

.footer {
  background-color: #252d2f;
  padding: 5rem 0;
  font-size: 1.4rem;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}

.footer__logo {
  width: 15rem;
}

.footer__navigation {
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: #5be89b;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: scale(1.3);
}

.footer__copyright {
  border-top: 1px solid #777;
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.navigation {
  height: 15vh;
  width: 100vw;
  border-bottom: 0.3rem solid #2d3a71;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 40;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#5be89b, #5be89b);
  z-index: 30;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 100vw;
  z-index: 35;
}

.navigation__list {
  position: absolute;
  top: 2rem;
  right: 2rem;
  list-style: none;
}

.navigation__item {
  margin: 1rem;
  text-align: center;
  display: inline;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 1rem 2rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #5be89b;
  transform: translateY(-1rem);
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  transition: all 0.2s;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #5be89b;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #5be89b;
  color: #2d3a71;
}

.btn--green::after {
  background-color: #5be89b;
}

.btn--blue {
  background-color: #2d3a71;
  color: #fff;
}

.btn--blue::after {
  background-color: #2d3a71;
}

.btn--animated {
  animation: moveInUp 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-text:link,
.btn-text:visited {
  color: #5be89b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #5be89b;
  padding: 0.3rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #5be89b;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}

.btn-text:active {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

.link-text {
  color: #5be89b;
  transition: transform 0.1s;
  cursor: pointer;
}

.link-text:hover {
  color: #faa91a;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card::after {
  content: "";
  display: table;
  clear: both;
}

.card__side {
  height: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-size: cover;
}

.card__side--front-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(91, 232, 155, 0.8)
    ),
    url(assets/img/map1.jpg);
}

.card__side--front-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(91, 232, 155, 0.8)
    ),
    url(assets/img/map2.jpg);
}

.card__side--front-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(91, 232, 155, 0.8)
    ),
    url(assets/img/map3.jpg);
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(238, 238, 238, 0.8)
  );
}

.card__side--back-2 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(250, 169, 26, 0.8)
  );
}

.card__side--back-3 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(45, 58, 113, 0.8)
  );
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.card__heading {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.card__heading-span {
  box-decoration-break: clone;
  /*&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-black, 0.8), rgba($color-gray-light-2, 0.8));
		}
		&--2 {
			background-image: linear-gradient(to right bottom, rgba($color-black, 0.8), rgba($color-notif, 0.8));
		}
		&--3 {
			background-image: linear-gradient(to right bottom, rgba($color-black, 0.8), rgba($color-tertiary-dark, 0.8));
		}*/
}

.card__details {
  color: #fff;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: white;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

@media only screen and (max-width: 56.25rem), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card::after {
    content: "";
    display: table;
    clear: both;
  }
  .card__side {
    box-shadow: none;
    height: auto;
    position: relative;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
}

.topspot {
  width: 75%;
  margin: 0 auto;
  font-size: 1.6rem;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .topspot {
    width: 100%;
    padding: 4rem 4rem 4rem 7rem;
  }
}

.topspot__shape {
  display: block;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.topspot__img {
  height: 150%;
}

.topspot__text {
  text-align: center;
  font-size: 3rem;
  line-height: 2rem;
}

.topspot__star {
  font-size: 2rem;
  display: inline-block;
  color: #5be89b;
}

.topspot__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: transform 0.5s;
}

.topspot:hover .topspot__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 0.3rem solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rbga(#000, 0.1);
  border-bottom: 0.3rem solid #5be89b;
}

.form__input:focus:invalid {
  border-bottom: 0.3rem solid #2d3a71;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: inline-block;
  transition: all 0.3s ease-out;
}

.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4.5rem;
  position: relative;
}

.form__radio {
  margin: 0 auto;
  width: 100%;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #5be89b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5be89b;
  opacity: 0;
  transition: opactiy 0.2s;
}

.form__radio-input:checked ~ .form__radio-label > .form__radio-button::after {
  opacity: 1;
}

.signin {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.signin-left {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(45, 58, 113, 0.5),
      rgba(91, 232, 155, 0.5)
    ),
    url(assets/img/worker.jpg);
  background-size: 100%;
  margin: 0;
}

.signin-right {
  margin: 0 auto;
  text-align: center;
}

.signin-heading {
  font-size: 6rem;
  color: #000;
  margin-bottom: 6rem;
}

.signin-account-box {
  margin: 3rem auto;
  vertical-align: center;
}

.signin-avatar {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 2rem;
  background-image: url(assets/img/avatar.jpg);
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.signin-avatar:hover {
  transform: scale(1.4) translate(0, 1rem);
  box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.6);
}

.signin-add {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  padding: 1rem;
  border: 0.3rem solid #000;
  border-radius: 50%;
}

.signin-add::after,
.signin-add::before {
  content: "";
  min-width: 1rem;
  min-height: 5px;
  background-color: #000;
}

.signin-right-textbox {
  display: block;
  width: 100%;
  padding: 3rem;
  text-align: center;
  margin: 0 auto;
}

.signin-input {
  border: none;
  box-shadow: none;
  display: block;
  background-color: #2d3a71;
  width: 70%;
  color: #fff;
  padding: 1rem 1.7rem;
  margin: 2rem auto;
}

.signin-form {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.signup {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(45, 58, 113, 0.5),
      rgba(91, 232, 155, 0.5)
    ),
    url(assets/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: center;
  padding: 5rem;
}

.signup-button {
  margin-top: 2rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.signup-heading {
  font-size: 5rem;
  color: #000;
  text-align: center;
  margin: 0 auto;
}

.profile {
  height: 100vh;
  max-width: 100vw;
  margin: 0px;
}
.profile-form {
  padding-top: 5rem;
}
.profile-avatar {
  display: block;
  margin: 2rem auto -2rem auto;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile-avatar > img {
  width: 100%;
  height: auto;
}
.profile-avatar-btn {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.6rem;
  margin: 0 auto;
}
.profile-btn {
  margin: 15rem auto 0 auto;
  display: block;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 2px solid #2d3a71;
  transition: transform 0.2s;
}
.profile-btn-box {
  display: block;
  font-size: 2rem;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.profile-btn:hover {
  transform: scale(1.3);
}
.profile-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #2d3a71;
}
.profile-mid {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.profile-left,
.profile-right {
  min-height: 100vh;
}

.creation {
  min-height: 80vh;
  max-width: 100vw;
  margin: 0;
}

.creation-box {
  min-height: 70%;
  width: 90%;
}

.creation-image {
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  /* background-image: url(assets/img/business.jpg);*/
}

.creation-btn {
  cursor: pointer;
  height: 50%;
  width: 100%;
  color: #2d3a71;
  border: none;
  background-color: #5be89b;
  display: block;
  font-size: 1.8rem;
  text-align: center;
}

.creation-right,
.creation-left {
  padding: 5rem 1rem;
}
.creation > .row {
  margin-bottom: 0;
}
.creation-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.payement-box {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.payement-title {
  margin: 1rem 0;
  color: #5be89b;
  font-size: 3rem;
  margin-bottom: 4.5rem;
}

.payement-plans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3rem;
}

.payement-offer {
  position: relative;
  height: 25rem;
  border-radius: 2rem;
  padding: 0 1.5rem;
  text-align: center;
  transition: margin 0.3s;
  border: solid 0.3rem #777;
}
.payement-offer-btn {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #2d3a71;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.payement-offer-btn:hover {
  background-color: #5be89b;
  color: #252d2f;
}
.payement-offer-title {
  color: #2d3a71;
  font-size: 1.9rem;
  margin: 2rem 0;
}
.payement-offer-options {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  color: #000;
}
.payement-offer-option {
  text-align: center;
  padding: 0.5rem;
}
.payement-offer-option:not(:last-child) {
  border-bottom: 1px solid #2d3a71;
}
.payement-offer:hover {
  border: solid 0.3rem #5be89b;
}
.business {
  margin-top: 8rem;
  cursor: pointer;
  display: block;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.business-box {
  background-color: #f7f7f7;
}

.business-picture {
  height: 35vh;
  overflow: hidden;
}
.business-picture > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.business-data {
  padding: 0 2rem 1rem 1rem;
}

.business-title {
  font-size: 2rem;
  color: #5be89b;
}

.business-description {
  font-size: 1.3rem;
  color: #000;
}

.business-btn:visited,
.business-btn:link,
.business-btn {
  display: inline-block;
  margin-left: 80%;
  position: relative;
  padding: 1rem 3rem;
  background-color: #5be89b;
  border-radius: 5rem;
  color: #2d3a71;
  text-decoration: none;
  cursor: pointer;
}

.review {
  margin: 0;
  padding: 1.5rem 3rem;
  border-bottom: 2px solid #2d3a71;
}

.review-btn {
  display: block;
  width: 100%;
  background-color: #5be89b;
  height: 1rem;
  text-align: center;
  color: #2d3a71;
}

.review-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review-text {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  color: #000;
}

.review-avatar {
  display: inline-block;
  /*background-image: url(assets/img/avatar.jpg);*/
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-size: cover;
}

.review-name {
  display: inline-block;
  font-size: 1.6rem;
  color: #000;
  margin-left: 1rem;
}

.review-feedback {
  display: inline-block;
}

.review-star {
  font-size: 2rem;
  display: inline-block;
  color: #5be89b;
}
.outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8rem;
  text-decoration: none;
}

.outline i {
  margin-right: 8px;
}

/* Green */
.success {
  border-color: rgb(82, 212, 184);
  color: rgb(31, 179, 142);
}

.success:hover {
  background-color: rgb(82, 212, 184);
  color: white;
}

.popup {
  z-index: 45;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__close,
.popup__close:link,
.popup__close:visited {
  color: #ed2227;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1rem;
}

.popup__close:hover {
  color: #5be89b;
}

.popup__content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 0.3rem;
  display: table;

  opacity: 1;
  transition: all 0.2s ease-in-out 0.2s;
}

.popup__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  padding: 1.5rem;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.popup__form-actions {
  grid-area: 2/2/2/5;
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
}

.popup__right {
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 3rem 5rem;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  -moz-column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eeeeee;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.search {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0px;
}

.search-input {
  /*display: inline-block;
		padding: 0.5rem;
		border: none;*/
  background-color: #2d3a71;
  color: #fff;
  position: relative;
  padding: 0.7rem 4rem 0.7rem 1.5rem;
  display: inline-block;
  border-radius: 8rem;
  border: none;
  /* cursor: pointer; */
}

.search-input--main {
  grid-area: 1/1/1/4;
}

.search-input--secondary {
  grid-area: 1/1/1/3;
}

.search-form {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr, 1fr;
  grid-gap: 2.5rem 2rem;
}

.search-form-actions {
  grid-area: 3/2/3/3;
}

.search-btn,
.search-btn:active,
.search-btn:visited {
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 0.2s;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #5be89b;
  color: #2d3a71;
}

.search-btn--stroked,
.search-btn--stroked:active,
.search-btn--stroked:visited {
  border: 0.3rem solid #5be89b;
  background-color: #fff;
  margin: 0 5rem 0 0;
}

.search-btn-small,
.search-btn-small:active,
.search-btn-small:visited {
  line-height: 1rem;
  padding: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.search-btn--danger,
.search-btn--danger:active,
.search-btn--danger:visited {
  background-color: #ed2227;
  color: #fff;
}

.search-btn--notif,
.search-btn--notif:active,
.search-btn--notif:visited {
  background-color: #faa91a;
  color: #fff;
}

.search-box-up {
  max-width: 100vw;
  padding: 3rem 4rem 0 4rem;
}

.search-box-down {
  max-width: 100vw;
  max-height: 85vh;
  margin: 0px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}
.search-box-down > div {
  width: 100%;
}

.subscription {
  width: 100%;
  height: auto;
  border-bottom: 0.5rem solid #000;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  justify-items: center;
}

.subscription-image {
  position: relative;
  display: inline-block;
  max-width: 20rem;
  max-height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.subscription-image > img {
  max-width: 100%;
  max-height: auto;
}

.subscription-data {
  list-style: none;
  font-size: 1.3rem;
  color: #000;
}

.subscription-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
}

.settings__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  padding: 10rem;
  width: 100%;
}

.settings__form > * {
  margin: 2rem 0;
}

.settings__form-actions {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-items: center;
  justify-content: center;
}

.settings__radio {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}

.settings__radio-group {
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  .settings__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.settings__radio-input {
  display: none;
}

.settings__radio-label {
  color: #000;
  cursor: pointer;
  padding-left: 3rem;
  position: relative;
}

.settings__radio-button {
  height: 2rem;
  width: 2rem;
  background-color: #2d3a71;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.settings__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  transition: opactiy 0.2s;
}

.settings__radio-input:checked
  ~ .settings__radio-label
  > .settings__radio-button::after {
  opacity: 1;
}

.section-top {
  background-color: #f7f7f7;
  padding: 10rem 0;
}

@media only screen and (max-width: 56.25em) {
  .section-top {
    padding: 20rem 0;
  }
}

.section-story {
  height: 100vh;
  padding: 10rem 0;
  position: relative;
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .section-story {
    padding: 10rem 0;
  }
}

.section-story__left {
  padding-top: 10rem;
  vertical-align: center;
}

.section-story__right {
  min-height: 75vh;
  width: 100%;
  position: relative;
  right: -12rem;
  border-radius: 1rem;
  overflow: hidden;
}

.section-story__right > img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: linear-gradient(
    to bottom,
    rgba(91, 232, 155, 0),
    rgba(91, 232, 155, 0.8)
  );
}
.section-pricing {
  height: 100vh;
  background-color: #f7f7f7;
  padding: 10rem 0 15rem 0;
}

@media only screen and (max-width: 56.25em) {
  .section-pricing {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  height: 100vh;
  position: relative;
  padding: 15rem 0;
}

@media only screen and (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  height: 100vh;
  padding: 15rem 0;
  background-image: linear-gradient(
    to top,
    rgba(91, 232, 155, 0.8),
    rgba(45, 58, 113, 0.8)
  );
}

@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.feed {
  display: block;
  width: 100vw;
  overflow-y: scroll;
  background-color: #eeeeee;
}
.feed-main {
  background-color: #f7f7f7;
  width: 75%;
  margin: 0 auto;
}
.feed-element-box {
  margin: 0 auto;
  max-width: 1200px;
  max-height: 100%;
  padding: 0.5rem 8rem;
}
.feed-user {
  margin-top: 2rem;
}
.feed-user-avatar {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border: 0.2rem solid #2d3a71;
  border-radius: 50%;
}
.feed-user-avatar > img {
  width: 100%;
  height: auto;
}
.feed-top {
  margin-top: 2rem;
}
.feed-top-avatar {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 10rem;
  overflow: hidden;
  border: 0.2rem solid #5be89b;
}
.feed-top-avatar > img {
  width: 100%;
  height: auto;
}
.feed-section-left {
  background-color: #252d2f;
  min-width: 200px;
  min-height: 40vh;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
.feed-section-left-title {
  padding-top: 1rem;
  color: #5be89b;
  font-size: 1.8rem;
  font-weight: lighter;
}
.feed-section-left-text {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 100;
}
.feed-section-right {
  background-color: #252d2f;
  min-width: 200px;
  min-height: 40vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.feed-section-right-text {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 200;
}

.business-page {
  display: block;
  width: 100vw;
  height: 100vh;
}

.business-page-reviews-list {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.business-page-reviews-box {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 0.5rem 1rem;
  border: 0.5rem solid #252d2f;
  border-radius: 1rem;
}

.business-page-review-stars {
  display: inline-block;
  margin: 0 auto;
}

.business-page-review-form > input {
  border: none;
  box-shadow: none;
  height: 100%;
  width: 100%;
}

.business-page-pictures {
  max-height: 20vh;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #252d2f;
}

.business-page-pictures > img {
  height: 10rem;
  width: auto;
}

.business-page-pictures > img:not(:last-child) {
  margin-right: 2rem;
}

.business-page-details {
  padding: 2rem;
  max-width: 60vw;
  min-height: 20vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.business-page-data {
  color: #000;
  text-decoration-style: none;
  list-style: none;
}

.business-page-data > li {
  list-style: none;
}

.business-page-description {
  color: #000;
}

.business-page-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.business-page-btn--main,
.business-page-btn--main:active,
.business-page-btn--main:visited,
.business-page-btn--second,
.business-page-btn--second:active,
.business-page-btn--second:visited {
  transition: all 0.2s;
  border-radius: 8rem;
  background-color: #5be89b;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  width: 10rem;
}

.business-page-btn--main::after,
.business-page-btn--second::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.business-page-btn--main:hover,
.business-page-btn--second:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.business-page-btn--main:hover::after,
.business-page-btn--second:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.business-page-btn--main:active,
.business-page-btn--main:focus,
.business-page-btn--second:active,
.business-page-btn--second:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.business-page-btn--second,
.business-page-btn--second:active,
.business-page-btn--second:visited {
  width: 7rem;
  background-color: #2d3a71;
  color: #fff;
}

.business-page-map {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.business-page-map > img {
  background-size: cover;
  margin: 0 auto;
  display: block;
  height: auto;
  width: 80%;
}
