<div class="business">
	<div class="business-box">

		<div class="business-picture">
			<img *ngIf="!business.thumbnail" src="assets/img/business.jpg" alt="" >
			<img *ngIf="business.thumbnail" [src]="business.thumbnail" alt="">
		</div>
		<div class="business-data">
			<h2 class="business-title">
				{{business.title}}
			</h2>
			<p class="business-description">
				{{business.about}}				
			</p>
			<a class="business-btn" *ngIf="showDetails" (click)="goToDetails()">Details</a>
		</div>
	</div>
	<div *ngIf="isReviewsLoaded">
		
		<app-review></app-review>
		<a href="" class="review-btn" *ngIf="checkReviews">&#17;</a>
	</div>
</div>