<main class="profile">

	<div class="row">
		<div class="col-1-of-4 profile-left">
			<div class="profile-btn-box">
				<div class="profile-btn"></div>
				Subscription
			</div>
		</div>
		<div class="col-2-of-4 profile-mid">
			<div class="profile-avatar">

			</div>
			<div *ngIf="errorMessage" class="alert alert-danger">
				{{errorMessage}}
			</div>
			<form [formGroup]="profileForm" class="profile-form" (submit)="onSubmit()">
				<input type="text" class="signin-input" placeholder="First Name" formControlName="fname" value="{{currentUser?.fname}}">
				<input type="text" class="signin-input" placeholder="Family Name" formControlName="lname" value="{{currentUser?.lname}}">
				<input type="age" class="signin-input" placeholder="Age" formControlName="age" value="{{currentUser?.age}}">
				<input type="text" class="signin-input" placeholder="Old password" formControlName="oldPassword">
				<input type="password" class="signin-input" placeholder="New password" formControlName="newPassword">

				<input type="submit" class="btn btn--green signup-button" value="Save Changes!">
			</form>
		</div>
		<div class="col-1-of-4 profile-right">
			<div class="profile-btn-box">
				<div class="profile-btn"></div>
				Settings
			</div>
		</div>
	</div>
</main>