.rating {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.rating>input {
  display: none;
}

.rating:not(:checked)>label {
  display: inline-block;
  cursor: pointer;
  font-size: 3rem;
  color: #5be89b;
}

.rating>input:not(:checked) ~label:before {
  display: inline-block;
  content: '☆ ';
}

.rating>input:checked~label:before {
  display: inline-block;
  content: '★ ';
}
.rating-animated > input:not(:checked) ~ label:hover ~ label:before,
.rating-animated > input:not(:checked) > label:hover:before {
	content: '★ ';
}
.label{
  cursor: pointer;
  font-size: 3rem;
  color: #5be89b;
}
.label-start-filled:before{
  display: inline-block;
  content: '★ ';
}
.label-start-stroked:before{
  display: inline-block;
  content: '☆ ';
}



