<div class="loading" *ngIf="isLoading">Loading&#8230;</div>

<main class="search">
  <div class="search-box-up">
    <form
      id="searchForm"
      class="search-form"
      [formGroup]="searchForm"
      (submit)="onSearch()"
    >
      <input
        type="search"
        value=""
        placeholder="Search ..."
        class="search-input search-input--main"
        formControlName="term"
      />
      <!-- <input
        type="text"
        value=""
        placeholder="Category"
        class="search-input"
        formControlName="category"
      /> -->
      <select
        type=""
        class="search-input"
        formControlName="category"
        placeholder="select category"
      >
        <option
          *ngFor="let category of categories; let idx = index"
          [value]="category"
          [selected]="true"
          >{{ category }}</option
        >
      </select>
      <input
        type="text"
        value=""
        placeholder="Stars"
        class="search-input"
        formControlName="stars"
      />
      <!-- <input
        type="text"
        value=""
        placeholder="Reviews"
        class="search-input"
        formControlName="reviews"
      /> -->
      <select
        type=""
        class="search-input"
        formControlName="reviews"
        value="top"
      >
        <option value="top" selected>Top Reviews</option>
        <option value="worst">Worst Reviews</option>
      </select>
      <div class="search-form-actions">
        <a class="search-btn search-btn--stroked" (click)="popupClicked()"
          >Choose location</a
        >
        <input type="submit" value="Search" class="search-btn" />
      </div>
    </form>
  </div>
  <!-- placeholder card -->
  <div
    class="row search-box-down"
    *ngIf="filteredBusinesses.matches.length == 0"
  >
    <div class="business">
      <div class="business-box">
        <div class="business-picture">
          <img src="assets/img/placeholder_0.jpg" alt="" />
          <img src="business.thumbnail" alt="" />
        </div>
        <div class="business-data">
          <h2 class="business-title"></h2>
          <p class="business-description"></p>
          <p class="business-description-md"></p>
          <a class="business-btn">Details</a>
        </div>
      </div>
      <div>
        <app-review></app-review>
        <a href="" class="review-btn">&#17;</a>
      </div>
    </div>

    <div class="business">
      <div class="business-box">
        <div class="business-picture">
          <img src="assets/img/placeholder_0.jpg" alt="" />
          <img src="business.thumbnail" alt="" />
        </div>
        <div class="business-data">
          <h2 class="business-title"></h2>
          <p class="business-description"></p>
          <p class="business-description-md"></p>
          <a class="business-btn">Details</a>
        </div>
      </div>
      <div>
        <app-review></app-review>
        <a href="" class="review-btn">&#17;</a>
      </div>
    </div>

    <div class="business">
      <div class="business-box">
        <div class="business-picture">
          <img src="assets/img/placeholder_0.jpg" alt="" />
          <img src="business.thumbnail" alt="" />
        </div>
        <div class="business-data">
          <h2 class="business-title"></h2>
          <p class="business-description"></p>
          <p class="business-description-md"></p>
          <a class="business-btn">Details</a>
        </div>
      </div>
      <div>
        <app-review></app-review>
        <a href="" class="review-btn">&#17;</a>
      </div>
    </div>
  </div>
  <!-- maximum 3 biz cards in each row -->
  <div class="row search-box-down">
    <div *ngFor="let biz of filteredBusinesses.matches">
      <app-business [business]="biz"></app-business>
    </div>
  </div>
</main>
<!-- The popup for getting the specified location -->
<div class="popup" id="popup" *ngIf="openedPopup">
  <a (click)="closePopup()" class="popup__close">&times;</a>
  <div class="popup__content">
    <form
      class="popup__form"
      [formGroup]="locationForm"
      (submit)="onLocationSubmit()"
    >
      <input
        formControlName="number"
        type="text"
        placeholder="Number"
        class="search-input"
      />
      <input
        formControlName="street"
        type="text"
        value=""
        placeholder="Street Name"
        class="search-input"
      />
      <input
        formControlName="city"
        type="text"
        value=""
        placeholder="City"
        class="search-input"
      />
      <input
        formControlName="country"
        type="text"
        value=""
        placeholder="Country"
        class="search-input"
      />
      <!--<input type="text" value="" placeholder="Search address" class="search-input search-input--secondary">-->
      <div class="popup__form-actions">
        <input
          type="submit"
          value="Search"
          class="search-btn search-btn--stroked"
        />
        <a
          href="javascript:void(0)"
          type="button"
          class="search-btn"
          (click)="locationAccepted()"
        >
          Accept Location
        </a>
      </div>
    </form>

    <agm-map
      (mapClick)="mapLocationChanged($event)"
      class="business-page-map"
      [latitude]="locationLat"
      [longitude]="locationLng"
    >
      <div *ngIf="locationFound">
        <agm-marker
          [latitude]="locationLat"
          [longitude]="locationLng"
          [label]="'M'"
        ></agm-marker>
        `
      </div>
    </agm-map>
  </div>
</div>
