<div class="feed">


  <main class="feed-main">

    <div class="feed-element-box">


		<app-business [showDetails]="false" ></app-business>
		<app-business [showDetails]="false" ></app-business>
		<app-business [showDetails]="false" ></app-business>
		<app-business [showDetails]="false" ></app-business>
      
    </div>
  </main>
  <section class="feed-section-right">
		<h3 class="feed-section-left-title">Top Reviewer</h3>
    <div class="feed-user">
      <div class="feed-user-avatar">

        <img src="assets/img/avatar.jpg" alt="">
      </div>

    </div>
    <div class="feed-section-right-text">
      <h4>last name</h4>
      <h5>First name</h5>
    </div>
  </section>
  <section class="feed-section-left">
    <h3 class="feed-section-left-title">Top Rated</h3>
    <div class="feed-top">
      <div class="feed-top-avatar">

        <img src="assets/img/worker1.jpg" alt="">
      </div>
    </div>
    <div class="feed-section-left-text">
      <h4>Name</h4>
      <h5>Type</h5>
    </div>
  </section>
</div>
