<div class="feed">
	<main class="feed-main">
		<div class="feed-suggestion-box">
			<div class="feed-suggestion">
				<img src="assets/img/worker1.jpg" alt="">
			</div>
			<div class="feed-suggestion">
				<img src="assets/img/worker2.jpg" alt="">
			</div>
			<div class="feed-suggestion">
				<img src="assets/img/barber.jpg" alt="">
			</div>
			<div class="feed-suggestion">
				<img src="assets/img/worker1.jpg" alt="">
			</div>
			<div class="feed-suggestion">
				<img src="assets/img/worker2.jpg" alt="">
			</div>

		</div>
		<div class="feed-element-box">
			<div class="business">
				<div class="business-box">

					<div class="business-picture">
						<img src="assets/img/business.jpg" alt="">
					</div>
					<div class="business-data">
						<h2 class="business-title">
							Restaurant
						</h2>
						<p class="business-description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse
						</p>

					</div>
				</div>

			</div>
			<div class="business">
				<div class="business-box">

					<div class="business-picture">
						<img src="assets/img/business.jpg" alt="">
					</div>
					<div class="business-data">
						<h2 class="business-title">
							Restaurant
						</h2>
						<p class="business-description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse
						</p>

					</div>
				</div>

			</div>
			<div class="business">
				<div class="business-box">

					<div class="business-picture">
						<img src="assets/img/business.jpg" alt="">
					</div>
					<div class="business-data">
						<h2 class="business-title">
							Restaurant
						</h2>
						<p class="business-description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse
						</p>

					</div>
				</div>

			</div>
		</div>
	</main>
	<section class="feed-section">
		<div class="feed-user">
			<div class="feed-user-avatar"></div>
			
		</div>
		<ul class="feed-section-fav">
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>
			<li><a href="">Favorite X</a></li>		
		</ul>
	</section>

</div>