<div class="rating rating-animated" *ngIf="!static">

  <input type="radio" value="5" [name]="inpustName" [checked]="rating===5" />
  <label class="rating-label" title="Amazing!" (click)='onClick(5)'>
    
  </label>

  <input type="radio" value="4" [name]="inpustName" [checked]="rating===4" />
  <label class="rating-label" title="Pretty good" (click)='onClick(4)'>
  </label>

  <input type="radio" value="3" [name]="inpustName" [checked]="rating===3" />
  <label class="rating-label" title="Medium" (click)='onClick(3)'>
  </label>

  <input type="radio" value="2" [name]="inpustName" [checked]="rating===2" />
  <label class="rating-label" title="Meh" (click)='onClick(2)'>
  </label>

  <input type="radio" value="1" [name]="inpustName" [checked]="rating===1" />
  <label class="rating-label" title="Bad" (click)='onClick(1)'>
  </label>
</div>
<div class="rating" *ngIf="static">
  <label *ngFor="let i of  [].constructor(5-rating)" class="label label-start-stroked"></label>
  <label *ngFor="let i of  [].constructor(rating)" class="label label-start-filled"></label>
</div>
